# Appendix 7 - Gender Inference - Results Testing

Note: When running the rule based gender classification algorithm on the dataset, we used the version of the raw, unprocessed dataset, as slightly different pre-processing was required to get accurate results from the gender algorithm (tokenisation of the description field, lowercase text).

The final rule based algorithm classified our full dataset as follows:

In [1]:
import pandas as pd

# Import the raw dataset
tweets = pd.read_excel("01sotu_final_corpus.xlsx")

print(tweets.head)

<bound method NDFrame.head of                                   date  \
0       Wed Jan 31 03:30:46 +0000 2018
1       Wed Jan 31 03:30:46 +0000 2018
2       Wed Jan 31 03:30:46 +0000 2018
3       Wed Jan 31 03:30:46 +0000 2018
4       Wed Jan 31 03:30:46 +0000 2018
5       Wed Jan 31 03:30:46 +0000 2018
6       Wed Jan 31 03:30:46 +0000 2018
7       Wed Jan 31 03:30:46 +0000 2018
8       Wed Jan 31 03:30:46 +0000 2018
9       Wed Jan 31 03:30:46 +0000 2018
10      Wed Jan 31 03:30:46 +0000 2018
11      Wed Jan 31 03:30:46 +0000 2018
12      Wed Jan 31 03:30:46 +0000 2018
13      Wed Jan 31 03:30:46 +0000 2018
14      Wed Jan 31 03:30:46 +0000 2018
15      Wed Jan 31 03:30:46 +0000 2018
16      Wed Jan 31 03:30:46 +0000 2018
17      Wed Jan 31 03:30:46 +0000 2018
18      Wed Jan 31 03:30:46 +0000 2018
19      Wed Jan 31 03:30:46 +0000 2018
20      Wed Jan 31 03:30:46 +0000 2018
21      Wed Jan 31 03:30:46 +0000 2018
22      Wed Jan 31 03:30:46 +0000 2018
23      Wed Jan 31 03:30:46 +0000 2018
24      Wed Jan 31 03:30:46 +0000 2018
25      Wed Jan 31 03:30:46 +0000 2018
26      Wed Jan 31 03:30:46 +0000 2018
27      Wed Jan 31 03:30:46 +0000 2018
28      Wed Jan 31 03:30:46 +0000 2018
29      Wed Jan 31 03:30:46 +0000 2018
...                                ...
274490  Wed Jan 31 02:10:14 +0000 2018
274491  Wed Jan 31 02:10:14 +0000 2018
274492  Wed Jan 31 02:10:14 +0000 2018
274493  Wed Jan 31 02:10:14 +0000 2018
274494  Wed Jan 31 02:10:14 +0000 2018
274495  Wed Jan 31 02:10:14 +0000 2018
274496  Wed Jan 31 02:10:14 +0000 2018
274497  Wed Jan 31 02:10:14 +0000 2018
274498  Wed Jan 31 02:10:14 +0000 2018
274499  Wed Jan 31 02:10:14 +0000 2018
274500  Wed Jan 31 02:10:14 +0000 2018
274501  Wed Jan 31 02:10:14 +0000 2018
274502  Wed Jan 31 02:10:14 +0000 2018
274503  Wed Jan 31 02:10:14 +0000 2018
274504  Wed Jan 31 02:10:14 +0000 2018
274505  Wed Jan 31 02:10:14 +0000 2018
274506  Wed Jan 31 02:10:14 +0000 2018
274507  Wed Jan 31 02:10:14 +0000 2018
274508  Wed Jan 31 02:10:14 +0000 2018
274509  Wed Jan 31 02:10:14 +0000 2018
274510  Wed Jan 31 02:10:14 +0000 2018
274511  Wed Jan 31 02:10:14 +0000 2018
274512  Wed Jan 31 02:10:14 +0000 2018
274513  Wed Jan 31 02:10:14 +0000 2018
274514  Wed Jan 31 02:10:14 +0000 2018
274515  Wed Jan 31 02:10:14 +0000 2018
274516  Wed Jan 31 02:10:14 +0000 2018
274517  Wed Jan 31 02:10:14 +0000 2018
274518  Wed Jan 31 02:10:14 +0000 2018
274519  Wed Jan 31 02:10:14 +0000 2018

                                              description  favorite_count  \
0                                                     NaN               0
1                                         Waiting for FDR               1
2                                 ENFP; tweets are my own               1
3       It takes more than embarrassment to shame me t...               2
4       4 1/2 billion years of evolution produced our ...               0
5                      Jeremiah 18:1-6 & Revelation 12:11               3
6       Wife to Jay. Mommy to Zachary Louis. Kitty mam...               1
7       Education is the most important thing in stopp...               0
8       Baltimore native. Nerd for pop, politics, snar...               0
9       https://t.co/FNmWSgyYlM Senior Columnist, husb...               1
10      Your source for original reporting and trusted...             101
11      #MilkyWayMood  #LoveFullTilt  #TheSoulTheEssen...               1
12                                                    NaN               0
13      Love sports, dogs, music and cannabis. HATE ra...               1
14                                                    NaN               0
15      Twitter's best kept secret. Former SIGINT Anal...              33
16      ðŸ’¡design grad student @ucdavis ã€°ï¸ electric bass...               3
17      Proud father.  Lucky Husband.  Cheering on my ...               0
18      Founder of Holy Koolaid LLC\nhttps://t.co/IkaQ...               0
19      Utah's #1 radio station. Traffic and weather e...               2
20      Home of KSL 5 News and Studio 5, and the local...               9
21      Used to be athletic, smart, and ambitious. Now...               1
22      Computer scientist, progressive, christian, an...               1
23      A Patriot who is tired of the corruption in ou...               1
24      ðŸŽ™Host Jason Rantz Show on KTTH 770AM in Seattl...               0
25      I'm special because I'm me.  Progressive (Dem)...               3
26      Editor for the @FlorhamPEagle, staff writer fo...               0
27      Political & Investigative Reporter for @KCBSNe...               4
28      Enjoys politics, podcasts, post-impressionists...               0
29      Proud to serve the First District of West Virg...               5
...                                                   ...             ...
274490  Blocked by Goldust. It's about the wrestling. ...               0
274491  My words are my own. Except when I'm quoting s...               0
274492       mostly spotify links https://t.co/v4x39TpF6N               2
274493  The Suffolk Journal is the award-winning under...               0
274494  Don't whine, vote. And tell your family & frie...               9
274495  ðŸ‡±ðŸ‡· TRUMPLICAN ðŸ‡ºðŸ‡¸MAGAðŸ’¯ SUPPORTING THE MAGA AGEN...               0
274496                        Married AF. I love my life.               0
274497  23. College student. Iâ€™ve been winning all my ...               0
274498  writer. lab rat. purveyor of fine energy drink...               1
274499  Official account of the @NALCAB Policy Team. W...               0
274500  Married to Myra. Chief of Staff, @RepThomasMas...               0
274501  If you know me, you don't need the useless inf...               0
274502  Economic Policy reporter at The New York Times...               4
274503  Award-winning reporter w/the New York Daily Ne...               0
274504  Artist, Self Help, Writer, News, Christian Bel...               0
274505  Egalitarian. Some tweets are ironic, some as s...               1
274506  Terry Kinder: God knows who I am. Tweets are n...               0
274507  the great matters are often as worthless as aï¬†...               0
274508  Lover of all things Beauty & Politics! Wife. E...               5
274509  Constitutional & Fiscal Conservative. \nProMil...               1
274510  Haitian Air Force F-52 Pilot. \n!!Les Trous de...               0
274511  Winner of @OneRepublic singing competition. Tr...              37
274512                                                NaN               0
274513  Humor, Hiking, Photography, Sarcastic,  Conser...               0
274514  Twitter- any idiot elected to the highest offi...               0
274515  You can make a lot of sacrifices and keep ever...               0
274516  #NOLA bred. @HowardU educated. @SiriusXM emplo...               0
274517  R.I.P. Nayna Masi-12/9/1969 to 6/12/2015 & Lil...               1
274518                          Enough about me, already.               0
274519  ....Actually, throughout my life, my two great...               0

        followers_count              id_str                        location  \
0                   163  958543051391229952                Freakin' Florida
1                  1419  958543051248603136                        Brooklyn
2                    65  958543051080781824                          Boston
3                  1370  958543050967568384                             NaN
4                   346  958543050510405632                           Texas
5                   231  958543050472640512                       Fargo, ND
6                  1814  958543050468483072  Raleigh NC but a NYer at heart
7                    57  958543050468360192                 Knightstown, IN
8                  1318  958543050338439168                              DC
9                  9396  958543050300710912                     Merrick, NY
10              6386672  958543050199961600                    New York, NY
11                  411  958543050158026752            CAROLINABLUE2DAHEART
12                   10  958543050090909696                             NaN
13                 2667  958543049977548800                          NorCal
14                   29  958543049885454336                             NaN
15                 3791  958543049860071424                             NaN
16                  264  958543049826562048                 California, USA
17                   42  958543049629618176                Mullica Hill, NJ
18                 1815  958543049457590272                             NaN
19                19499  958543049306460160              Salt Lake City, UT
20                63800  958543049285517312            Salt Lake City, Utah
21                  175  958543049277263872                     Chicago, IL
22                 1004  958543049155543040                             NaN
23                 6744  958543049025466368                             NaN
24                 5562  958543048937324544                      Seattle WA
25                   70  958543048547491840                 San Antonio, TX
26                  526  958543048539074560                 New Jersey, USA
27                 7482  958543048509571072       San Francisco, California
28                  920  958543048408879104                 Los Angeles, CA
29                27025  958543048346128384                             NaN
...                 ...                 ...                             ...
274490              283  958522782962286592                         The 716
274491               82  958522782924419072                     Los Angeles
274492               35  958522782903549952                          brophy
274493             2738  958522782828105728                      Boston, MA
274494            13973  958522782811336704                   United States
274495               46  958522782798802944                Somewhere U.S.A.
274496              153  958522782782025728                     Orleans, MA
274497             9077  958522782739963904               Las Vegas, Nevada
274498             6622  958522782660288512                         Seattle
274499               32  958522782480044032                             NaN
274500             6560  958522782362546176            Bloomington, IN, USA
274501              315  958522782215700480              West Lafayette, IN
274502            12834  958522781909553152                   Washington DC
274503             1442  958522781871812608                    Brooklyn, NY
274504            80153  958522781817122816                      California
274505             2417  958522781687312384                  Beside the sea
274506            58752  958522781653786624                     Jackson, MO
274507              704  958522781557170176       Edmonton, Alberta, Canada
274508             8213  958522781460701184                 California, USA
274509             4652  958522781280489472                  Tennessee, USA
274510                0  958522781246816256                           Haiti
274511             4102  958522781162975232                         Chicago
274512               70  958522781158772736                  North Carolina
274513              155  958522780940623872                     Phoenix, AZ
274514               94  958522780789694464              Point Pleasant, NJ
274515              650  958522780764557312        Worcester, Massachusetts
274516              566  958522780747751424                             DMV
274517              190  958522780705787904                Philadelphia, PA
274518              221  958522780571418624                 los angeles, ca
274519               73  958522780466622464            Brisbane, Queensland

        retweet_count  statuses_count  \
0                   0            8723
1                   1           20287
2                   0             373
3                   0           35380
4                   0           10621
5                   0            2210
6                   0           26747
7                   0            2990
8                   0           10412
9                   0           17983
10                 60          161400
11                  0           19042
12                  0               2
13                  0           36898
14                  0             190
15                  5            3943
16                  0            1904
17                  0            7861
18                  0            4424
19                  0           34700
20                  0           66383
21                  0           35013
22                  0           84832
23                  1           35763
24                  0           35332
25                  1            1542
26                  0            5253
27                  1           29816
28                  0            4045
29                  0            4741
...               ...             ...
274490              0            7667
274491              0             858
274492              0             780
274493              0            6704
274494              0           58619
274495              1             726
274496              0            6417
274497              2          194629
274498              0           46820
274499              0              72
274500              0           19160
274501              0            3027
274502              5           10473
274503              0            4875
274504              0           82523
274505              0           38990
274506              0          123387
274507              0            8793
274508              0           73992
274509              0           13365
274510              0              13
274511             14            2573
274512              0            2116
274513              0            1201
274514              0            6827
274515              0            7536
274516              0           18287
274517              0           22544
274518              0             844
274519              0            2608

                                                     text             user  \
0       Retweeted â™»ï¸ Christopher Zullo (@ChrisJZullo):...        Likipedia
1       I wish someone would have told me that I could...          CoreyCW
2       Surprise cameo: Science found its way into the...       craigregis
3       That's odd. He said he likes music. But I dist...        kimwithak
4       He doesn't have any standing to comment on fam...     CraneStation
5       If you didn't watch the State of the Union, yo...       jeremykopp
6       Remember that time that Stephen Miller said th...        Colleen84
7       Ok time to pull the plug (about 30 minut s ago...         wabashcc
8       #DoD has done far better than domestic program...      SaraLDuBois
9       Here's my take on the #SOTU https://t.co/QzJt8...       jakejakeny
10      Pres. Trump calls for the end of chain migrati...          CBSNews
11      The look you give when a know-it-all  can't re...      JAZZYONEMEL
12      Thank you president Trump. You are greatly app...     Jeff56566268
13      @FrankLuntz I just wish heâ€™d STFU, go home to ...     imthe420nerd
14      .@POTUS â€œAbove all else, they are Americans, a...         sccmigop
15      Since Iâ€™m not watching the #sotu Iâ€™ll guess tr...   deepstaterogue
16                            What an embarrassment #SOTU       AdamMusing
17      Trump must want to keep talking because he doe...        jerkat429
18      I don't think I've ever seen a president smirk...      holykoolaid
19      .@realDonaldTrump: The people dreamed this cou...     kslnewsradio
20      .@realDonaldTrump: The people dreamed this cou...           KSL5TV
21      Itâ€™d be a real shame if the plot of Designated...      NotHotTakes
22      #PuertoRico when @realDonaldTrump says "We lov...      sephius1999
23      The people who are making America Great Again....      DAColdriver
24      Okay, this speech was over 4 minutes ago (minu...       jasonrantz
25      #SOTU Immigrants built this country you FUckin...      annrollins0
26      â€œItâ€™s the people that are making America great...         Cleespot
27      And...scene. That was the 3rd longest #sotu in...     SovernNation
28      Trump wrapping mostly (and surprisingly) on sc...       katielewDC
29      â€œIt is the people who are making America great...      RepMcKinley
...                                                   ...              ...
274490              Oh man, his ego is LOVING this. #SOTU          LvkeTCB
274491  Let's be honest. This Republican-driven applau...        CandidlyB
274492               watching #sotu because i hate myself     lance_keeble
274493  Many Democratic Congresswomen are boycotting t...   SuffolkJournal
274494  The pundits say Trump has been working hard on...      pittgriffin
274495  ......MY POTUS.... \n#TuesdayThoughts \n#MAGA ...     ORIGINAL_ME1
274496  Currently watching a group of demons give Sata...       BremTweets
274497  We really have a reality tv show president. #sotu       J0rdan0re0
274498  There has to be a Huey Lewis &amp; The News co...        RDS3attle
274499  NALCAB applauds those members of Congress who ...     NALCABPolicy
274500      Live #SOTU broadcast  https://t.co/V3X1AiVcDf         jimpfaff
274501     #SOTU finally starting https://t.co/hfA2bFE354     nielsen_karl
274502  The @nytimes #SOTU live chat is here ---&gt; h...       arappeport
274503                                   Here we go #sotu     ChrisCarrega
274504  #SOTU God bless and protect #POTUS #USA #Relea...           HPSelf
274505  The clapping was good, unfortunately it's all ...       DamonMercy
274506        DEMS Behave?  https://t.co/kW1o7AhZKm #SOTU          tkinder
274507       This one's for #SOTU https://t.co/ws6Zz0ingx        pabinkley
274508  You can see Nancy Pelosi trying to calm her pe...     Mrsmmtbeauty
274509  @TheJuanWilliams @FoxNews @FoxNewsOpinion Isnâ€™...        ISaidKnow
274510  Betsy Devos outfit cost more den me house. Oui...    CovfefeLeBrun
274511  Theyâ€™re not applauding, theyâ€™re a$$ kissing. #...    IsabellaCigno
274512  So nice to watch a #SOTU again! #MAGA #SOTU201...          naine11
274513  #SOTU\nFirst impression is of #MelaniaTrump . ...   SarcasticRusty
274514            This is already an embarrassment. #SOTU  MatthewJDonovan
274515  How can those senators and congressmen stand t...           JaFlo1
274516  POTUS clapping for himself at the #SOTU podium...     Charla4Mayor
274517  Itâ€™s so annoying when they get up after every ...        Jatinb811
274518  Will somebody wake me when he gets to the Stor...     PacoMccauley
274519  I'm sure this level of applause happened under...       kelsitonin

        verified
0          False
1          False
2          False
3          False
4          False
5          False
6          False
7          False
8          False
9          False
10          True
11         False
12         False
13         False
14         False
15         False
16         False
17         False
18         False
19          True
20          True
21         False
22         False
23         False
24          True
25         False
26         False
27          True
28         False
29          True
...          ...
274490     False
274491     False
274492     False
274493     False
274494     False
274495     False
274496     False
274497     False
274498     False
274499     False
274500     False
274501     False
274502      True
274503      True
274504     False
274505     False
274506     False
274507     False
274508     False
274509     False
274510     False
274511     False
274512     False
274513     False
274514     False
274515     False
274516     False
274517     False
274518     False
274519     False

[274520 rows x 11 columns]>

In [2]:
#PREPARATION OF NAME DATA

# Import dataset of names and their genders
namesfinal = pd.read_excel("top2000names2014final.xlsx")

# Sort names dataframe so longest names come first (so that Erica will then match against Erica and not Eric)
namesfinal["namelength"] = ""
for i in range(len(namesfinal)):
    namesfinal.at[i, "namelength"] = len(namesfinal.at[i, "name"])
namesfinal = namesfinal.sort_values(by=['namelength'], ascending=False)
namesfinal = namesfinal.reset_index(drop=True)
print(namesfinal.shape)

# Remove any names 3 characters or less
namesfinal.drop(namesfinal[namesfinal.namelength < 4].index, inplace=True)
print(namesfinal.shape)

# Create a column with name converted to lowercase
namesfinal["name_lower"] = namesfinal["name"].str.lower()

(2013, 4)
(1944, 4)

In [3]:
#ASSIGNMENT OF GENDER BASED ON USERNAME

# Create a column with username converted to lowercase
tweets["user_lower"] = tweets["user"].str.lower()

# Create 2 columns for the algorithm to make its gender prediction in
tweets["gender_username_algo"] = ""
tweets["namematched_algo"] = ""

# Run the name matching algorithm
for i in range(len(tweets)):
    for j in range (len(namesfinal)):
        if tweets.at[i, "gender_username_algo"]=="":
            if (namesfinal.at[j, "name_lower"] in tweets.at[i, "user_lower"]):
                tweets.at[i, "gender_username_algo"] = namesfinal.at[j, "gender"]
                tweets.at[i, "namematched_algo"] = namesfinal.at[j, "name"]
            else:
                continue
        else:
            continue
    # Just to get a sense of progress while processing
    if i%1000==0:
        (print(i))

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000
59000
60000
61000
62000
63000
64000
65000
66000
67000
68000
69000
70000
71000
72000
73000
74000
75000
76000
77000
78000
79000
80000
81000
82000
83000
84000
85000
86000
87000
88000
89000
90000
91000
92000
93000
94000
95000
96000
97000
98000
99000
100000
101000
102000
103000
104000
105000
106000
107000
108000
109000
110000
111000
112000
113000
114000
115000
116000
117000
118000
119000
120000
121000
122000
123000
124000
125000
126000
127000
128000
129000
130000
131000
132000
133000
134000
135000
136000
137000
138000
139000
140000
141000
142000
143000
144000
145000
146000
147000
148000
149000
150000
151000
152000
153000
154000
155000
156000
157000
158000
159000
160000
161000
162000
163000
164000
165000
166000
167000
168000
169000
170000
171000
172000
173000
174000
175000
176000
177000
178000
179000
180000
181000
182000
183000
184000
185000
186000
187000
188000
189000
190000
191000
192000
193000
194000
195000
196000
197000
198000
199000
200000
201000
202000
203000
204000
205000
206000
207000
208000
209000
210000
211000
212000
213000
214000
215000
216000
217000
218000
219000
220000
221000
222000
223000
224000
225000
226000
227000
228000
229000
230000
231000
232000
233000
234000
235000
236000
237000
238000
239000
240000
241000
242000
243000
244000
245000
246000
247000
248000
249000
250000
251000
252000
253000
254000
255000
256000
257000
258000
259000
260000
261000
262000
263000
264000
265000
266000
267000
268000
269000
270000
271000
272000
273000
274000

In [4]:
#ASSIGNMENT OF GENDER BASED ON DESCRIPTION

descr_keywords = pd.read_excel("descr_keywords.xlsx")

# Add column for new gender prediction based on description
# Create a column with username converted to lowercase, on both datasets
tweets["gender_description_algo"] = ""

# Make description field lowercase
tweets["description"] = tweets["description"].str.lower()

# Tokenize the description field using natural language toolkit
from nltk.tokenize import word_tokenize
from nltk.tokenize import RegexpTokenizer

tweets["description_tokenized"] = ""
tokenizer = RegexpTokenizer(r'\w+')

# Run the tokenizing algorithm
for i in range(len(tweets)):
    if pd.notnull(tweets.at[i, 'description'])==False :
        (tweets.at[i, 'description_tokenized'])=""
    else:
        (tweets.at[i, 'description_tokenized'])=tokenizer.tokenize((tweets.at[i, 'description']))

descr_keywords.columns = ['word', 'gender']

# Run the gender assigning algorithm
for i in range(len(tweets)):
    for j in range(len(descr_keywords)):
        if (descr_keywords.at[j, 'word'] in tweets.at[i, 'description_tokenized']) & (tweets.at[i, 'gender_description_algo']==""):
            tweets.at[i, 'gender_description_algo'] = descr_keywords.at[j, 'gender']
        else:
            continue

In [5]:
# ASSIGNMENT OF FINAL GENDER VALUE

tweets["gender_final"] = ""

for i in range(len(tweets)):
    tweets.at[i, "gender_final"] = tweets.at[i, "gender_description_algo"] 
    if tweets.at[i, "gender_final"]=="":
        tweets.at[i, "gender_final"]=tweets.at[i, "gender_username_algo"]

In [6]:
# Export the tweet subset to excel for checking
writer = pd.ExcelWriter('04sotu_with_gender.xlsx')
tweets.to_excel(writer,'Sheet1')
writer.save()

In [7]:
# Check how many genders have been assigned
gendercount=0
for i in range(len(tweets)):
        if tweets.at[i, 'gender_final'] !="":
            gendercount+=1
print(gendercount)

138936

In [8]:
print(tweets.shape)

(274520, 17)

In [9]:
138936/274520

0.5061052018067901

The gender algorithm assigned 138,936 rows with a gender, out of a total 274,520, giving 51% of our dataset a gender classification.

#### Evaluation of accuracy

In [10]:
# Export a random sample of 1800 rows to be checked for accuracy of classifications
tweets_sample=tweets.sample(1800)

writer = pd.ExcelWriter('04sotu_with_gender_sample.xlsx')
tweets_sample.to_excel(writer,'Sheet1')
writer.save()

In [15]:
import pandas as pd
# Reimport the checked sample
tweets_sample1000_withgender_checked = pd.read_excel('04sotu_with_gender_sample.xlsx')

In [16]:
# Pivots to view aggregated results
pivot0=pd.pivot_table(tweets_sample1000_withgender_checked, index=["gender_final"],values=["user"], aggfunc=[len], margins=True)
pivot0.columns=['count']
print(pivot0, '\n')

pivot1=pd.pivot_table(tweets_sample1000_withgender_checked, index=["humancheck"],values=["user"], aggfunc=[len], margins=True)
pivot1.columns=['count']
print(pivot1, '\n')

              count
gender_final
F               389
M               536
U               875
All            1800

            count
humancheck
OK            801
notsure        80
wrong          44
All           925

The first pivot shows us that the algorithm assigned gender to 925/1800 rows (of which, incidentally: 389 F, 536 M)

The second pivot shows us that we have judged 801 (86.6%) of these assignments as 'OK' (the human agrees with the gender assignment), 80 (8.6%) as 'notsure' (the human finds the user's gender ambiguous) and 44 (4.8%) as wrong (the human is sure the gender is in fact the opposite of that assigned by the algorithm)

This gives an accuracy rate of 86.6 - 95.2 %

The final step was to copy the column of gender values to the version of the dataset where preprocessing had been carried out. As the two datasets are identical in terms of row number and order of tweets ( as checked below) this was achieved via a single loop:

In [22]:
print(tweets.shape)
print(tweets_final.shape)

(274520, 17)
(274520, 19)

In [18]:
# Copy the gender column into the pre-processed dataset
tweets_final = pd.read_excel("03sotu_with_states.xlsx")

print(tweets_final.head)

<bound method NDFrame.head of                                   date  \
0       Wed Jan 31 03:30:46 +0000 2018
1       Wed Jan 31 03:30:46 +0000 2018
2       Wed Jan 31 03:30:46 +0000 2018
3       Wed Jan 31 03:30:46 +0000 2018
4       Wed Jan 31 03:30:46 +0000 2018
5       Wed Jan 31 03:30:46 +0000 2018
6       Wed Jan 31 03:30:46 +0000 2018
7       Wed Jan 31 03:30:46 +0000 2018
8       Wed Jan 31 03:30:46 +0000 2018
9       Wed Jan 31 03:30:46 +0000 2018
10      Wed Jan 31 03:30:46 +0000 2018
11      Wed Jan 31 03:30:46 +0000 2018
12      Wed Jan 31 03:30:46 +0000 2018
13      Wed Jan 31 03:30:46 +0000 2018
14      Wed Jan 31 03:30:46 +0000 2018
15      Wed Jan 31 03:30:46 +0000 2018
16      Wed Jan 31 03:30:46 +0000 2018
17      Wed Jan 31 03:30:46 +0000 2018
18      Wed Jan 31 03:30:46 +0000 2018
19      Wed Jan 31 03:30:46 +0000 2018
20      Wed Jan 31 03:30:46 +0000 2018
21      Wed Jan 31 03:30:46 +0000 2018
22      Wed Jan 31 03:30:46 +0000 2018
23      Wed Jan 31 03:30:46 +0000 2018
24      Wed Jan 31 03:30:46 +0000 2018
25      Wed Jan 31 03:30:46 +0000 2018
26      Wed Jan 31 03:30:46 +0000 2018
27      Wed Jan 31 03:30:46 +0000 2018
28      Wed Jan 31 03:30:46 +0000 2018
29      Wed Jan 31 03:30:46 +0000 2018
...                                ...
274490  Wed Jan 31 02:10:14 +0000 2018
274491  Wed Jan 31 02:10:14 +0000 2018
274492  Wed Jan 31 02:10:14 +0000 2018
274493  Wed Jan 31 02:10:14 +0000 2018
274494  Wed Jan 31 02:10:14 +0000 2018
274495  Wed Jan 31 02:10:14 +0000 2018
274496  Wed Jan 31 02:10:14 +0000 2018
274497  Wed Jan 31 02:10:14 +0000 2018
274498  Wed Jan 31 02:10:14 +0000 2018
274499  Wed Jan 31 02:10:14 +0000 2018
274500  Wed Jan 31 02:10:14 +0000 2018
274501  Wed Jan 31 02:10:14 +0000 2018
274502  Wed Jan 31 02:10:14 +0000 2018
274503  Wed Jan 31 02:10:14 +0000 2018
274504  Wed Jan 31 02:10:14 +0000 2018
274505  Wed Jan 31 02:10:14 +0000 2018
274506  Wed Jan 31 02:10:14 +0000 2018
274507  Wed Jan 31 02:10:14 +0000 2018
274508  Wed Jan 31 02:10:14 +0000 2018
274509  Wed Jan 31 02:10:14 +0000 2018
274510  Wed Jan 31 02:10:14 +0000 2018
274511  Wed Jan 31 02:10:14 +0000 2018
274512  Wed Jan 31 02:10:14 +0000 2018
274513  Wed Jan 31 02:10:14 +0000 2018
274514  Wed Jan 31 02:10:14 +0000 2018
274515  Wed Jan 31 02:10:14 +0000 2018
274516  Wed Jan 31 02:10:14 +0000 2018
274517  Wed Jan 31 02:10:14 +0000 2018
274518  Wed Jan 31 02:10:14 +0000 2018
274519  Wed Jan 31 02:10:14 +0000 2018

                                              description  favorite_count  \
0                                                     NaN               0
1                                         WAITING FOR FDR               1
2                                  ENFP TWEETS ARE MY OWN               1
3       IT TAKES MORE THAN EMBARRASSMENT TO SHAME ME T...               2
4       4 1 2 BILLION YEARS OF EVOLUTION PRODUCED OUR ...               0
5                        JEREMIAH 18 1 6 REVELATION 12 11               3
6       WIFE TO JAY MOMMY TO ZACHARY LOUIS KITTY MAMA ...               1
7       EDUCATION IS THE MOST IMPORTANT THING IN STOPP...               0
8       BALTIMORE NATIVE NERD FOR POP POLITICS SNARK H...               0
9                        SENIOR COLUMNIST HUSBAND AND DAD               1
10      YOUR SOURCE FOR ORIGINAL REPORTING AND TRUSTED...             101
11                                                    NaN               1
12                                                    NaN               0
13      LOVE SPORTS DOGS MUSIC AND CANNABIS HATE RACIS...               1
14                                                    NaN               0
15      TWITTER S BEST KEPT SECRET FORMER SIGINT ANALY...              33
16      ðŸ’¡DESIGN GRAD STUDENT ã€°ï¸ ELECTRIC BASSOONIST ã€°ï¸...               3
17      PROUD FATHER LUCKY HUSBAND CHEERING ON MY SF G...               0
18      FOUNDER OF HOLY KOOLAID LLC DON T DRINK THE KO...               0
19      UTAH S RADIO STATION TRAFFIC AND WEATHER EVERY...               2
20      HOME OF KSL 5 NEWS AND STUDIO 5 AND THE LOCAL ...               9
21      USED TO BE ATHLETIC SMART AND AMBITIOUS NOW I ...               1
22      COMPUTER SCIENTIST PROGRESSIVE CHRISTIAN AND A...               1
23      A PATRIOT WHO IS TIRED OF THE CORRUPTION IN OU...               1
24      ðŸŽ™HOST JASON RANTZ SHOW ON KTTH 770AM IN SEATTL...               0
25      I M SPECIAL BECAUSE I M ME PROGRESSIVE DEM AME...               3
26      EDITOR FOR THE STAFF WRITER FOR THE AND SOCIAL...               0
27      POLITICAL INVESTIGATIVE REPORTER FOR FICTION A...               4
28      ENJOYS POLITICS PODCASTS POST IMPRESSIONISTS P...               0
29      PROUD TO SERVE THE FIRST DISTRICT OF WEST VIRG...               5
...                                                   ...             ...
274490  BLOCKED BY GOLDUST IT S ABOUT THE WRESTLING CO...               0
274491  MY WORDS ARE MY OWN EXCEPT WHEN I M QUOTING SO...               0
274492                               MOSTLY SPOTIFY LINKS               2
274493  THE SUFFOLK JOURNAL IS THE AWARD WINNING UNDER...               0
274494  DON T WHINE VOTE AND TELL YOUR FAMILY FRIENDS ...               9
274495  ðŸ‡±ðŸ‡· TRUMPLICAN ðŸ‡ºðŸ‡¸MAGAðŸ’¯ SUPPORTING THE MAGA AGEN...               0
274496                          MARRIED AF I LOVE MY LIFE               0
274497  23 COLLEGE STUDENT I VE BEEN WINNING ALL MY LI...               0
274498  WRITER LAB RAT PURVEYOR OF FINE ENERGY DRINKS ...               1
274499  OFFICIAL ACCOUNT OF THE POLICY TEAM WE WORK TO...               0
274500  MARRIED TO MYRA CHIEF OF STAFF FMR RADIO TALK ...               0
274501  IF YOU KNOW ME YOU DON T NEED THE USELESS INFO...               0
274502  ECONOMIC POLICY REPORTER AT THE NEW YORK TIMES...               4
274503  AWARD WINNING REPORTER W THE NEW YORK DAILY NE...               0
274504  ARTIST SELF HELP WRITER NEWS CHRISTIAN BELIEVE...               0
274505  EGALITARIAN SOME TWEETS ARE IRONIC SOME AS SER...               1
274506  TERRY KINDER GOD KNOWS WHO I AM TWEETS ARE NOT...               0
274507  THE GREAT MATTERS ARE OFTEN AS WORTHLESS AS AS...               0
274508  LOVER OF ALL THINGS BEAUTY POLITICS WIFE EX DE...               5
274509  CONSTITUTIONAL FISCAL CONSERVATIVE PROMILITARY...               1
274510  HAITIAN AIR FORCE F 52 PILOT LES TROUS DE MERD...               0
274511  WINNER OF SINGING COMPETITION TRANSGENDER SING...              37
274512                                                NaN               0
274513  HUMOR HIKING PHOTOGRAPHY SARCASTIC CONSERVATIV...               0
274514  TWITTER ANY IDIOT ELECTED TO THE HIGHEST OFFIC...               0
274515  YOU CAN MAKE A LOT OF SACRIFICES AND KEEP EVER...               0
274516  BRED EDUCATED EMPLOYED BE EXTRA OR BE NOTHING ...               0
274517  R I P NAYNA MASI 12 9 1969 TO 6 12 2015 LILABA...               1
274518                            ENOUGH ABOUT ME ALREADY               0
274519  ACTUALLY THROUGHOUT MY LIFE MY TWO GREATEST AS...               0

        followers_count              id_str                        location  \
0                   163  958543051391229952                FREAKIN  FLORIDA
1                  1419  958543051248603136                        BROOKLYN
2                    65  958543051080781824                          BOSTON
3                  1370  958543050967568384                             NaN
4                   346  958543050510405632                           TEXAS
5                   231  958543050472640512                       FARGO  ND
6                  1814  958543050468483072  RALEIGH NC BUT A NYER AT HEART
7                    57  958543050468360192                 KNIGHTSTOWN  IN
8                  1318  958543050338439168                              DC
9                  9396  958543050300710912                     MERRICK  NY
10              6386672  958543050199961600                    NEW YORK  NY
11                  411  958543050158026752            CAROLINABLUE2DAHEART
12                   10  958543050090909696                             NaN
13                 2667  958543049977548800                          NORCAL
14                   29  958543049885454336                             NaN
15                 3791  958543049860071424                             NaN
16                  264  958543049826562048                 CALIFORNIA  USA
17                   42  958543049629618176                MULLICA HILL  NJ
18                 1815  958543049457590272                             NaN
19                19499  958543049306460160              SALT LAKE CITY  UT
20                63800  958543049285517312            SALT LAKE CITY  UTAH
21                  175  958543049277263872                     CHICAGO  IL
22                 1004  958543049155543040                             NaN
23                 6744  958543049025466368                             NaN
24                 5562  958543048937324544                      SEATTLE WA
25                   70  958543048547491840                 SAN ANTONIO  TX
26                  526  958543048539074560                 NEW JERSEY  USA
27                 7482  958543048509571072       SAN FRANCISCO  CALIFORNIA
28                  920  958543048408879104                 LOS ANGELES  CA
29                27025  958543048346128384                             NaN
...                 ...                 ...                             ...
274490              283  958522782962286592                         THE 716
274491               82  958522782924419072                     LOS ANGELES
274492               35  958522782903549952                          BROPHY
274493             2738  958522782828105728                      BOSTON  MA
274494            13973  958522782811336704                   UNITED STATES
274495               46  958522782798802944                SOMEWHERE U S A
274496              153  958522782782025728                     ORLEANS  MA
274497             9077  958522782739963904               LAS VEGAS  NEVADA
274498             6622  958522782660288512                         SEATTLE
274499               32  958522782480044032                             NaN
274500             6560  958522782362546176            BLOOMINGTON  IN  USA
274501              315  958522782215700480              WEST LAFAYETTE  IN
274502            12834  958522781909553152                   WASHINGTON DC
274503             1442  958522781871812608                    BROOKLYN  NY
274504            80153  958522781817122816                      CALIFORNIA
274505             2417  958522781687312384                  BESIDE THE SEA
274506            58752  958522781653786624                     JACKSON  MO
274507              704  958522781557170176       EDMONTON  ALBERTA  CANADA
274508             8213  958522781460701184                 CALIFORNIA  USA
274509             4652  958522781280489472                  TENNESSEE  USA
274510                0  958522781246816256                           HAITI
274511             4102  958522781162975232                         CHICAGO
274512               70  958522781158772736                  NORTH CAROLINA
274513              155  958522780940623872                     PHOENIX  AZ
274514               94  958522780789694464              POINT PLEASANT  NJ
274515              650  958522780764557312        WORCESTER  MASSACHUSETTS
274516              566  958522780747751424                             DMV
274517              190  958522780705787904                PHILADELPHIA  PA
274518              221  958522780571418624                 LOS ANGELES  CA
274519               73  958522780466622464            BRISBANE  QUEENSLAND

        retweet_count  statuses_count  \
0                   0            8723
1                   1           20287
2                   0             373
3                   0           35380
4                   0           10621
5                   0            2210
6                   0           26747
7                   0            2990
8                   0           10412
9                   0           17983
10                 60          161400
11                  0           19042
12                  0               2
13                  0           36898
14                  0             190
15                  5            3943
16                  0            1904
17                  0            7861
18                  0            4424
19                  0           34700
20                  0           66383
21                  0           35013
22                  0           84832
23                  1           35763
24                  0           35332
25                  1            1542
26                  0            5253
27                  1           29816
28                  0            4045
29                  0            4741
...               ...             ...
274490              0            7667
274491              0             858
274492              0             780
274493              0            6704
274494              0           58619
274495              1             726
274496              0            6417
274497              2          194629
274498              0           46820
274499              0              72
274500              0           19160
274501              0            3027
274502              5           10473
274503              0            4875
274504              0           82523
274505              0           38990
274506              0          123387
274507              0            8793
274508              0           73992
274509              0           13365
274510              0              13
274511             14            2573
274512              0            2116
274513              0            1201
274514              0            6827
274515              0            7536
274516              0           18287
274517              0           22544
274518              0             844
274519              0            2608

                                                     text             user  \
0       RETWEETED â™»ï¸ CHRISTOPHER ZULLO WHAT A SUPERFLU...        LIKIPEDIA
1       I WISH SOMEONE WOULD HAVE TOLD ME THAT I COULD...          COREYCW
2       SURPRISE CAMEO SCIENCE FOUND ITS WAY INTO THE ...       CRAIGREGIS
3       THAT S ODD HE SAID HE LIKES MUSIC BUT I DISTIN...        KIMWITHAK
4       HE DOESN T HAVE ANY STANDING TO COMMENT ON FAM...     CRANESTATION
5       IF YOU DIDN T WATCH THE STATE OF THE UNION YOU...       JEREMYKOPP
6       REMEMBER THAT TIME THAT STEPHEN MILLER SAID TH...        COLLEEN84
7           OK TIME TO PULL THE PLUG ABOUT 30 MINUT S AGO         WABASHCC
8       HAS DONE FAR BETTER THAN DOMESTIC PROGRAMS UND...      SARALDUBOIS
9                                   HERE S MY TAKE ON THE       JAKEJAKENY
10      PRES TRUMP CALLS FOR THE END OF CHAIN MIGRATIO...          CBSNEWS
11      THE LOOK YOU GIVE WHEN A KNOW IT ALL CAN T REA...      JAZZYONEMEL
12      THANK YOU PRESIDENT TRUMP YOU ARE GREATLY APPR...     JEFF56566268
13      I JUST WISH HE D STFU GO HOME TO HIS BEDTIME C...     IMTHE420NERD
14      ABOVE ALL ELSE THEY ARE AMERICANS AND THIS CIT...         SCCMIGOP
15      SINCE I M NOT WATCHING THE I LL GUESS TRUMPS T...   DEEPSTATEROGUE
16                                  WHAT AN EMBARRASSMENT       ADAMMUSING
17      TRUMP MUST WANT TO KEEP TALKING BECAUSE HE DOE...        JERKAT429
18      I DON T THINK I VE EVER SEEN A PRESIDENT SMIRK...      HOLYKOOLAID
19      THE PEOPLE DREAMED THIS COUNTRY THE PEOPLE BUI...     KSLNEWSRADIO
20      THE PEOPLE DREAMED THIS COUNTRY THE PEOPLE BUI...           KSL5TV
21      IT D BE A REAL SHAME IF THE PLOT OF DESIGNATED...      NOTHOTTAKES
22                                  WHEN SAYS WE LOVE YOU      SEPHIUS1999
23          THE PEOPLE WHO ARE MAKING AMERICA GREAT AGAIN      DACOLDRIVER
24      OKAY THIS SPEECH WAS OVER 4 MINUTES AGO MINUS ...       JASONRANTZ
25        IMMIGRANTS BUILT THIS COUNTRY YOU FUCKING IDIOT      ANNROLLINS0
26      IT S THE PEOPLE THAT ARE MAKING AMERICA GREAT ...         CLEESPOT
27      AND SCENE THAT WAS THE 3RD LONGEST IN HISTORY ...     SOVERNNATION
28       TRUMP WRAPPING MOSTLY AND SURPRISINGLY ON SCRIPT       KATIELEWDC
29      IT IS THE PEOPLE WHO ARE MAKING AMERICA GREAT ...      REPMCKINLEY
...                                                   ...              ...
274490                      OH MAN HIS EGO IS LOVING THIS          LVKETCB
274491  LET S BE HONEST THIS REPUBLICAN DRIVEN APPLAUS...        CANDIDLYB
274492                     WATCHING BECAUSE I HATE MYSELF     LANCE KEEBLE
274493  MANY DEMOCRATIC CONGRESSWOMEN ARE BOYCOTTING T...   SUFFOLKJOURNAL
274494  THE PUNDITS SAY TRUMP HAS BEEN WORKING HARD ON...      PITTGRIFFIN
274495                                           MY POTUS     ORIGINAL ME1
274496  CURRENTLY WATCHING A GROUP OF DEMONS GIVE SATA...       BREMTWEETS
274497         WE REALLY HAVE A REALITY TV SHOW PRESIDENT       J0RDAN0RE0
274498  THERE HAS TO BE A HUEY LEWIS AMP THE NEWS COVE...        RDS3ATTLE
274499  NALCAB APPLAUDS THOSE MEMBERS OF CONGRESS WHO ...     NALCABPOLICY
274500                                     LIVE BROADCAST         JIMPFAFF
274501                                   FINALLY STARTING     NIELSEN KARL
274502                           THE LIVE CHAT IS HERE GT       ARAPPEPORT
274503                                         HERE WE GO     CHRISCARREGA
274504                              GOD BLESS AND PROTECT           HPSELF
274505  THE CLAPPING WAS GOOD UNFORTUNATELY IT S ALL D...       DAMONMERCY
274506                                        DEMS BEHAVE          TKINDER
274507                                     THIS ONE S FOR        PABINKLEY
274508  YOU CAN SEE NANCY PELOSI TRYING TO CALM HER PE...     MRSMMTBEAUTY
274509  ISN T THE RADICAL LEFT TO BLAME FOR SERIOUSLY ...        ISAIDKNOW
274510      BETSY DEVOS OUTFIT COST MORE DEN ME HOUSE OUI    COVFEFELEBRUN
274511           THEY RE NOT APPLAUDING THEY RE A KISSING    ISABELLACIGNO
274512                           SO NICE TO WATCH A AGAIN          NAINE11
274513  FIRST IMPRESSION IS OF I CAN T IMAGINE MY WIFE...   SARCASTICRUSTY
274514                   THIS IS ALREADY AN EMBARRASSMENT  MATTHEWJDONOVAN
274515  HOW CAN THOSE SENATORS AND CONGRESSMEN STAND T...           JAFLO1
274516  POTUS CLAPPING FOR HIMSELF AT THE PODIUM IS AL...     CHARLA4MAYOR
274517  IT S SO ANNOYING WHEN THEY GET UP AFTER EVERY ...        JATINB811
274518  WILL SOMEBODY WAKE ME WHEN HE GETS TO THE STOR...     PACOMCCAULEY
274519  I M SURE THIS LEVEL OF APPLAUSE HAPPENED UNDER...       KELSITONIN

        verified                               description_hashtags  \
0          False                                                NaN
1          False                                                NaN
2          False                                                NaN
3          False                                                NaN
4          False                                                NaN
5          False                                                NaN
6          False                                         IMWITHHERS
7          False                                                NaN
8          False                                                NaN
9          False                                                NaN
10          True                                                NaN
11         False  MILKYWAYMOOD LOVEFULLTILT THESOULTHEESSENCEOFB...
12         False                                                NaN
13         False                                    THERESISTANCE Î©
14         False                                                NaN
15         False                                   ALTGOV DEEPSTATE

In [24]:
# Check the ordering of the datasets is identical by matching on id string:

tweets_final["gender"] = ""

count=0;
for i in range(len(tweets_final)):
    if tweets_final.at[i, "id_str"] == tweets.at[i, "id_str"]:
        count+=1
print(count)

274520

In [26]:
# The above shows that the order of rows in both datasets is identical, and the gender values can be copied across using the above method
for i in range(len(tweets_final)):
    tweets_final.at[i, "gender"] = tweets.at[i, "gender_final"]

In [29]:
# Export the final dataset

writer = pd.ExcelWriter('04sotu_with_gender_final.xlsx')
tweets_final.to_excel(writer,'Sheet1')
writer.save()